@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --sweet- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */

:root {
	/* Browser area before a page starts loading */
	--sweet-browser-before-load-background: hsl(225, 25%, 6%);

	/* Toolbars */
	--sweet-toolbar-background: hsl(225, 25%, 6%);	
	--sweet-toolbar-color: hsl(223, 13%, 79%);
	--sweet-toolbar-border-color: hsl(227, 27%, 6%);
	--sweet-inactive-toolbar-background: hsl(225, 25%, 6%);	
	--sweet-inactive-toolbar-border-color: hsl(0, 0%, 13%);

	/* Sidebar */
	--sweet-sidebar-background: hsl(225, 25%, 6%);
	--sweet-inactive-sidebar-background: hsl(228, 26%, 20%);

	/* Popups */
	--sweet-menu-background: hsl(225, 25%, 6%);
	--sweet-menu-border-color: hsl(227, 27%, 6%);
	--sweet-popover-background: hsl(225, 25%, 6%);
	--sweet-popover-border-color: hsl(227, 27%, 6%);
	--sweet-popover-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.3);
	--sweet-popover-button-hover-background: hsl(228, 26%, 20%);
	--sweet-popover-separator-color: hsla(0, 0%, 0%, 0.1);

	/* Header bar */
	--sweet-headerbar-background: linear-gradient(to top, hsl(225, 25%, 6%), hsl(225, 25%, 6%));
	--sweet-headerbar-border-color: hsl(0, 0%, 3%);
	--sweet-headerbar-box-shadow: inset 0 1px hsla(60, 6%, 93%, 0.07);
	--sweet-inactive-headerbar-background: linear-gradient(hsl(225, 25%, 6%), hsl(225, 25%, 6%));
	--sweet-inactive-headerbar-border-color: hsl(0, 0%, 13%);
	--sweet-inactive-headerbar-box-shadow: inset 0 1px hsla(60, 6%, 93%, 0.07);

	/* Buttons */	
	--sweet-button-background: linear-gradient(to top, hsl(228, 25%, 12%) 2px, hsl(228, 25%, 12%));
	--sweet-button-border-color: hsl(227, 27%, 6%);
	--sweet-button-border-accent-color: hsl(0, 0%, 3%);
	--sweet-button-box-shadow: inset 0 1px hsla(0, 0%, 100%, 0.02), 0 1px 2px hsla(0, 0%, 0%, 0.07);	
	--sweet-button-hover-background: linear-gradient(to top, hsl(228, 26%, 20%), hsl(228, 26%, 20%) 1px);	
	--sweet-button-active-background: linear-gradient(45deg,hsl(263, 100%, 44%), hsl(306, 100%, 50%));
	--sweet-button-active-border-color: hsl(227, 27%, 6%);
	--sweet-button-active-border-accent-color: hsl(0, 0%, 0%);
	--sweet-button-active-box-shadow: inset 0 1px hsla(0, 0%, 100%, 0);	
	--sweet-button-disabled-background: hsl(228, 26%, 20%);
	--sweet-button-disabled-border-color: hsl(225, 25%, 6%);
	--sweet-button-disabled-box-shadow: inset 0 1px hsla(0, 0%, 100%, 0);
	--sweet-inactive-button-background: linear-gradient(hsl(225, 25%, 6%), hsl(225, 25%, 6%));
	--sweet-inactive-button-border-color: hsl(225, 25%, 6%);
	--sweet-inactive-button-box-shadow: inset 0 1px hsla(0, 0%, 100%, 0);
	--sweet-button-suggested-action-background: linear-gradient(to top, hsl(256, 35%, 47%) 2px, hsl(335, 58%, 80%));
	--sweet-button-suggested-action-border-color: hsl(256, 35%, 47%);
	--sweet-button-suggested-action-border-accent-color: hsl(213, 77%, 15%);
	--sweet-button-suggested-action-box-shadow: inset 0 1px hsla(0, 0%, 100%, 0.02), 0 1px 2px hsla(0, 0%, 0%, 0.07);
	--sweet-button-suggested-action-hover-background: linear-gradient(to top, hsla(256, 35%, 47%, 0.925), hsla(335, 58%, 80%, 0.925) 1px);
	--sweet-button-suggested-action-active-background: hsl(256, 35%, 47%);
	--sweet-button-suggested-action-active-border-color: hsl(256, 35%, 47%);
	--sweet-button-suggested-action-active-box-shadow: inset 0 1px hsla(0, 0%, 100%, 0);	
	--sweet-button-destructive-action-background: linear-gradient(to top, hsl(346, 100%, 63%) 2px, hsl(9, 100%, 58%));
	--sweet-button-destructive-action-border-color: hsl(346, 100%, 63%);
	--sweet-button-destructive-action-border-accent-color: hsl(358, 78%, 19%);
	--sweet-button-destructive-action-box-shadow: inset 0 1px hsla(0, 0%, 100%, 0.02), 0 1px 2px hsla(0, 0%, 0%, 0.07);
	--sweet-button-destructive-action-hover-background: linear-gradient(to top, hsla(346, 100%, 63%, 0.925), hsla(9, 100%, 58%, 0.925) 1px);
	--sweet-button-destructive-action-active-background: hsl(346, 100%, 63%);
	--sweet-button-destructive-action-active-border-color: hsl(346, 100%, 63%);
	--sweet-button-destructive-action-active-box-shadow: inset 0 1px hsla(0, 0%, 100%, 0);
	--sweet-privacy-icon: url(icons/privacy-icon-light.svg);

	/* URL bar */
	--sweet-urlbar-background: linear-gradient(hsl(228, 25%, 12%), hsl(228, 25%, 12%));
	--sweet-urlbar-border-color: hsl(227, 27%, 6%);
	--sweet-urlbar-box-shadow: inset 0 0 0 1px hsla(213, 77%, 35%, 0);
	--sweet-urlbar-color: hsl(223, 13%, 79%);
	--sweet-inactive-urlbar-background: linear-gradient(hsl(228, 26%, 20%), hsl(228, 26%, 20%));
	--sweet-inactive-urlbar-border-color: hsl(0, 0%, 13%);
	--sweet-inactive-urlbar-box-shadow: none;
	--sweet-inactive-urlbar-color: hsl(0, 0%, 84%);
	--sweet-focused-urlbar-border-color: hsl(296, 87%, 44%);
	--sweet-private-urlbar-background: hsl(276, 100%, 12%);
	--sweet-select-urlbar-border-color: var(--sweet-focused-urlbar-border-color);

	/* Tabs */
	--sweet-tabbar-tab-color: hsl(195, 2%, 56%);
	--sweet-tabbar-tab-hover-background: hsl(225, 25%, 6%);
	--sweet-tabbar-tab-hover-border-bottom-color: hsl(227, 27%, 6%);
	--sweet-tabbar-tab-hover-color: hsl(0, 0%, 78%);
	--sweet-tabbar-tab-active-background: hsl(228, 25%, 12%);
	--sweet-tabbar-tab-active-border-bottom-color: hsl(296, 87%, 44%);
	--sweet-tabbar-tab-active-color: hsl(223, 13%, 79%);
	--sweet-tabbar-tab-active-hover-background: hsl(225, 25%, 6%);
	--sweet-inactive-tabbar-tab-color: hsl(195, 2%, 56%);
	--sweet-inactive-tabbar-tab-active-background: hsl(225, 25%, 6%);
	--sweet-inactive-tabbar-tab-active-border-bottom-color: hsl(296, 87%, 44%);
	--sweet-inactive-tabbar-tab-active-color: hsl(195, 2%, 56%);  

	--sweet-start-gradient-color: hsl(263, 100%, 44%);
	--sweet-end-gradient-color: hsl(306, 100%, 50%);
}

html#main-window {
	--panel-disabled-color: rgba(195, 199, 209, 0.5) !important;
	--lwt-accent-color: rgb(12, 14, 20) !important;
	--lwt-text-color: rgba(85, 84, 91) !important;
	--arrowpanel-background: rgb(12, 14, 20) !important;
	--arrowpanel-color: rgba(195, 199, 209, 1) !important;
	--lwt-toolbar-field-background-color: rgb(12, 14, 20) !important;
	--lwt-toolbar-field-color: var(--sweet-select-urlbar-border-color) !important;
	--lwt-toolbar-field-focus: rgba(12, 14, 20, 1) !important;
	--lwt-toolbar-field-focus-color: var(--sweet-select-urlbar-border-color) !important;
	--toolbar-field-focus-border-color: var(--sweet-select-urlbar-border-color) !important;
	--toolbar-bgcolor: rgb(22, 25, 37) !important;
	--toolbar-color: rgb(195, 199, 209) !important;
	--autocomplete-popup-background: rgb(12, 14, 20) !important;
	--autocomplete-popup-color: rgb(195, 199, 209) !important;
	--autocomplete-popup-highlight-background: var(--sweet-select-urlbar-border-color) !important;
}