@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --sweet- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */

:root {
	--sweet-button-active-background: linear-gradient(45deg,#ff005d, #ff8b26);
	--sweet-button-destructive-action-background: linear-gradient(to top, #FF416C 2px, #FF4B2B);
	--sweet-button-destructive-action-border-color: #FF416C;
	--sweet-button-destructive-action-border-accent-color: #570b0e;
	--sweet-button-destructive-action-hover-background: linear-gradient(to top, #FF416Cec, #FF4B2Bec 1px);
	--sweet-button-destructive-action-active-background: #FF416C;
	--sweet-button-destructive-action-active-border-color: #FF416C;
	--sweet-privacy-icon: url(icons/privacy-icon-light.svg);
	--sweet-focused-urlbar-border-color: rgb(255, 70, 66);
	--sweet-private-urlbar-background: #25003e;
	--sweet-select-urlbar-border-color: rgb(255, 0, 93);
	--sweet-tabbar-tab-active-border-bottom-color: #F67E7D;
	--sweet-inactive-tabbar-tab-active-border-bottom-color: #F67E7D;
	--sweet-tab-text-shadow: #F67E7D7F;
    	--sweet-start-gradient-color: rgb(255, 0, 93);
    	--sweet-end-gradient-color: rgb(255, 139, 38);
}